---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <main class="max-w-[1440px] mx-auto px-4 lg:px-8 py-10">
        <h1 class="text-4xl font-bold">Welcome to the Homepage</h1>
        <p class="mt-4">This is the main content area of your site.</p>
    </main>
</Layout>
