---
// src/components/UtilityBar.astro
---

<nav class="hidden lg:block w-full border-b border-gray-200 bg-white">
    <div
        class="max-w-[1440px] mx-auto px-4 lg:px-8 flex justify-between items-center h-10 text-[13px]"
    >
        <ul class="flex items-center h-full divide-x divide-gray-300">
            <li class="pr-4 flex items-center h-full">
                <a href="#" class="font-bold text-red-600 hover:underline"
                    >Personal</a
                >
            </li>
            <li class="pl-4 flex items-center h-full">
                <a href="#" class="text-gray-800 hover:underline">Business</a>
            </li>
        </ul>

        <ul
            class="flex items-center h-full divide-x divide-gray-300 text-gray-800"
        >
            <li class="px-3 flex items-center h-full">
                <a href="#" class="hover:underline">1-833-VERIZON</a>
            </li>
            <li class="px-3 flex items-center h-full">
                <a href="#" class="hover:underline">Contact us</a>
            </li>
            <li class="px-3 flex items-center h-full">
                <a href="#" class="hover:underline">Support</a>
            </li>
            <li class="px-3 flex items-center h-full">
                <a href="#" class="hover:underline">Stores</a>
            </li>
            <li class="px-3 flex items-center h-full">
                <a href="#" class="hover:underline">Coverage map</a>
            </li>
            <li class="pl-3 flex items-center h-full">
                <a href="#" class="hover:underline">Español</a>
            </li>
        </ul>
    </div>
</nav>
