---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>

        <script is:inline>
            (function () {
                const getTheme = () => {
                    if (
                        typeof localStorage !== "undefined" &&
                        localStorage.getItem("theme")
                    ) {
                        return localStorage.getItem("theme");
                    }
                    if (
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches
                    ) {
                        return "brandtheme-dark";
                    }
                    return "brandtheme";
                };
                document.documentElement.setAttribute("data-theme", getTheme());
            })();
        </script>
    </head>
    <body class="min-h-screen bg-base-100 text-base-content antialiased">
        <Navigation>
            <slot />
        </Navigation>
    </body>
</html>
